.team {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 15px 100px 15px;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    .base-title;
    font-size: 42px;
    text-transform: uppercase;
  }

  &__description {
    position: relative;
    max-width: 450px;
    margin: 0;
    padding-left: 10px;
    margin-bottom: 100px;
    line-height: 25px;
  }

  &__description:after {
    position: absolute;
    content: '';
    bottom: -25px;
    left: 10px;
    display: block;
    width: 130px;
    height: 2px;
    background: @active-link-bg;
  }
}

.employee {
  display: flex;
  justify-content: space-between;

  &__img {
    display: block;
    margin: 0 10px;
    min-width: 320px;
    min-height: 460px;
    background: @photo-bg;
  }

  &__name {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__description {
    max-width: 640px;
    margin: 0;
    margin-bottom: 35px;
    line-height: 25px;
  }

  &__preview-list {
    margin: 0;
    padding: 0;
  }

  &__preview-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    min-width: 200px;
    min-height: 210px;
    text-align: center;
    background: @photo-bg;
  }

  &__preview-item:last-child {
    margin-right: 0;
  }

  &__preview-name {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    display: none;
    margin: 0;
    padding: 3px;
    width: 100%;
    color: @name-color;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    background: @name-bg;
  }

  &__preview-item:hover {

    .employee__preview-name {
      display: block;
    }
  }
}

.social {

  &__list {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    color: @text-color;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
  }
}